.container {
  width: 400px;
  border: 1px solid rgb(147, 147, 147);

  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  input {
    display: block;
    margin-bottom: 20px;
    padding: 1rem;
    width: 350px;
  }
  button {
    padding: 1rem;
    width: 100px;
    &:hover {
      color: white;
      background-color: gray;
      border: 1px solid #333333;
    }
  }
  p {
    font-size: 0.8rem;
    color: gray;
  }
}
.ng-valid[required],
.ng-valid.required {
  border-left: 10px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 10px solid #a94442;
}
