<ul *ngIf='!logado'>
    <li routerLinkActive="active">
        <a [routerLink]="['/home']">Home</a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/about']">About</a>
    </li>

</ul>
<ul *ngIf='logado'>
    <li routerLinkActive="active">
        <a [routerLink]="['/dashboard']">Dashboard</a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/galeria']">Galeria</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/crud']">Crud</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/profile']">Profile</a>
    </li>

</ul>